node_modules/
*.vsix
.DS_Store
out/
coverage/
playwright-report/
test-results/
协同评估流程设计.md
解说视频-.mp4
Sample.md
Sample.assets/
Electron跨平台APP改造执行方案.md
跨平台架构功能重构与问题修复方案.md
dist/
.github/
.cursor/
.vscode-test/
笔记.md
🌟测试文件夹
.cursor
.cursor/rules
.easyview
.vscode
.vscode-test
z笔记/
tests
test-results
🌟测试文件夹